<h1>RSS</h1>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <table>
      <tr>
        <td>
            <input 
              placeholder="URL" 
              type="url" 
              formControlName="url" 
              (input)="onInput()" />
        </td>
        <td>
            <input  
              placeholder="Email address" 
              type="email" 
              formControlName="email"
              (input)="onInput()" />
        </td>
      </tr>
      <tr>
        <td>
          <div class="readonly-panel">{{rssRssponse?.rssBody}}</div>
        </td>
        <td>
          <div class="readonly-panel">{{rssRssponse?.rssLinks}}</div>
        </td>
      </tr>
      <tr>
        <td><button class="btn btn-success" (click)="onSave()">save</button></td>
        <td><button class="btn btn-info" type="submit" [disabled]="!formGroup.valid">Wyślij</button></td>
      </tr>
  </table>
</form>