ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: dimgray;
}

a {
    font-size: 1.5em;
    color: whitesmoke;
    text-decoration: none;
}

li {
    float: left;
    padding: 5px;
    margin-left: 5px;
}

li:hover {
    background-color: black;   
}
